<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninchat.sdk">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.audio.output" />
    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>
        <activity
            android:name=".ninchatactivity.view.NinchatActivity"
            android:theme="@style/NinchatTheme"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ninchatqueue.view.NinchatQueueActivity"
            android:theme="@style/NinchatTheme"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ninchatchatactivity.view.NinchatChatActivity"
            android:theme="@style/NinchatTheme"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ninchatreview.view.NinchatReviewActivity"
            android:theme="@style/NinchatTheme"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ninchatmedia.view.NinchatMediaActivity"
            android:theme="@style/NinchatTheme"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ninchatquestionnaire.ninchatquestionnaireactivity.view.NinchatQuestionnaireActivity"
            android:theme="@style/NinchatTheme.Questionnaire"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>