<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninchat.sdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".ChatTestActivity" android:theme="@style/NinchatTheme" />
    </application>
</manifest>
