<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninchat.sdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".activities.ChatTestActivity"
            android:theme="@style/NinchatTheme"
            android:label="@string/ninchat_contact_us" />
    </application>
</manifest>
